@media (max-width: 1200px)
    .container
        width: 960px
    .contacts
        &__block:nth-child(n+5)
            margin-top: 19px
    .promo
        &__wrapper-header
            width: 85%
        &__title
            font-size: 38px
        &__descr
            font-size: 22px
        &__img
            height: 100vh
