@import "libs/_bootstrap-reboot.sass"

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap')

@import "base/_variables"



*
	box-sizing: border-box
	font-family: 'Roboto', sans-serif
	margin: 0
	padding: 0

h1,h2,h3,h4,h5,h6,ul
	margin-bottom: 0
	

.container
	width: 1140px
	margin: 0 auto

@import blocks/_promo.sass
@import blocks/_btn.sass
@import blocks/_advant.sass
@import blocks/_header-blocks.sass
@import blocks/_circle-icon.sass
@import blocks/_agent.sass
@import blocks/_our-work.sass
@import blocks/_prices.sass
@import blocks/_manager.sass
@import blocks/_scheme-work.sass
@import blocks/_policy.sass
@import blocks/_reviews.sass
@import blocks/_last-questions.sass
@import blocks/_footer.sass
@import blocks/_arrow-up.sass
@import _media.sass